@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.header {
  background-color: var(--secondary-color);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.header-content {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
}

.header-content h3 {
  color: #fff;
  justify-content: center;
}

.header-content a {
  color: #fff;
  font-size: var(--font-text);
}

.header-content a:hover {
  font-size: 200%;
  transition: all 0.4s ease-out;
}

.login {
  background-color: var(--primary-color);
  height: 100vh;
}

.login-row {
  margin-top: 20vh;
}

.login-title {
  font-size: var(--font-title);
  color: #fff;
  padding-right: 2%;
}

.icon {
  font-size: var(--font-title);
  margin-top: -1.5%;
  color: var(--secondary-color);
}

.login h2 {
  color: #fff;
}

.login-btn {
  margin-top: 3%;
  font-size: var(--font-text);
  background-color: var(--secondary-color);
  text-align: center;
  height: 8vh;
  border: transparent;
}

.login-btn:hover {
  background-color: #fff;
  color: var(--secondary-color);
  border: var(--secondary-color);
  font-weight: bold;
  transition: all 0.4s ease-out;
}

.home {
  background-color: var(--primary-color);
  color: #fff;
  height: 100vh;
}

.movie-grid {
  font-size: var(--font-movie);
}