@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.header {
  background-color: #288;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login {
  background-color: var(--primary-color);
  padding: 30vh;
  
}

.login-title {
  font-size: var(--font-title);
  color: #fff;
  padding-right: 2%;
}

.icon {
  font-size: var(--font-title);
  margin-top: -1.8%;
  color: var(--secondary-color);
}

.login h2 {
  color: #fff;
}

.login-divider {
  color: var(--terciary-color);
}